/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*@import "module/kmom01.less";*/
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: black;
}
body {
  margin: 5px;
  padding: 0;
  color: #333;
  background-color: white;
  font: 100.01%/1 serif;
}
.block {
  box-sizing: border-box;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.region-header-col-1 {
  display: none;
}
.outer-wrap-header {
  height: 50px;
  margin-bottom: 15px;
}
.inner-wrap-header .row {
  max-width: 100%;
}
.row {
  display: block;
  width: 101.04166667%;
  margin-left: 0.52083333%;
  margin-right: -0.52083333%;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* navbar top */
.rm-navbar {
  position: relative;
}
.rm-navbar ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.rm-default li {
  display: inline-block;
}
.rm-default a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 1em;
  outline: 0;
}
.rm-desktop li a:hover,
.rm-desktop li.current-menu-item a {
  text-decoration: underline;
}
.rm-desktop li a {
  color: inherit;
  background-color: inherit;
}
.region-flash {
  text-align: center;
}
.region-flash img {
  max-width: 100%;
}
.right {
  float: right;
}
.wrap-all {
  margin: 0 auto;
  background-color: lightgrey;
  padding-bottom: 20px;
  padding-top: 10px;
}
.inner-wrap {
  background-color: lightblue;
  margin: 0 auto;
  max-width: 1000px;
}
.inner-wrap-flash {
  padding-bottom: 10px;
}
.inner-wrap-main {
  max-width: 700px;
  padding: 20px 0;
  border: 2px solid black;
  margin-top: 20px;
}
.outer-wrap-main {
  margin-top: 40px;
}
/*.region-main {
    margin: 10px 50px;
}*/
.site-logo img {
  height: 100px;
}
.article {
  margin: 0 40px;
  min-height: 550px;
}
/* byline */
.author-byline {
  border: 1px solid black;
  margin: 0 40px;
  padding: 1em;
}
.author-byline::after {
  content: "";
  display: block;
  clear: both;
}
.author-byline img {
  display: block;
}
.figure.figure.left {
  float: left;
  margin-right: 8px;
}
.footer-column {
  width: 33%;
  float: left;
}
.site-footer {
  text-align: center;
  margin: 0 5px;
}
.inner-wrap-footer {
  border: 1px solid black;
  margin: 20px auto;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
