/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

html {
    background-color: black;
}

body {
    background-color: white;
    margin: 0;
}
.wrap-all {
    max-width: 800px;
    margin: 0 auto;
    background-color: lightgrey;
}

.block {
    box-sizing: border-box;
}



/* navbar top */
.rm-navbar {
    position: relative;
}

.rm-navbar ul {
    text-align: center;
    list-style:none;
    margin:0;
    padding:0;
}

.rm-default li {
 display:inline-block;
}

.rm-default a {
    display:block;
    text-decoration:none;
    white-space:nowrap;
    padding:1em;
    outline:0;
}

.rm-desktop li a:hover,.rm-desktop li.current-menu-item a {
    text-decoration:underline;
}
.rm-desktop li a {
    color:inherit;
    background-color:inherit;
}




.site-logo img {
    height: 100px;

}



.region-flash img {
    max-width: 100%;
}

.right {
    float: right;
}

/* Article*/

.article {
    margin: 0 40px;
    min-height: 550px;
}

/* byline */

.author-byline {
    border: 1px solid black;
    margin-bottom: 40px;
    padding: 1em;
}

.author-byline::after {
 content:"";
 display:block;
 clear:both
}

.author-byline img {
    display: block;
}

.figure.figure.left {
    float: left;
    margin-right: 8px;
}



/* footer */

.footer-column {
    width: 33%;
    float: left;
}

.site-footer {
    text-align: center;
}
